{% extends 'MasterPage.html' %}
{% block addition_style%}
.container.account-input{
max-width:300px;
}
{% endblock %}
{%block script%}
{%endblock%}
{%block content%}
<section class="py-5 text-xenter container">
    <div class="row py-lg-5">
        <center><h1>修改密碼</h1></center>
    </div>
</section>
<div class="container account-input">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-4"><label>舊密碼：</label></div>
            <div class="col-8 input-group flex-nowrap p-2">
                <input type="password" class="form-control" placeholder="舊密碼" name="oldpw">
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label>新密碼：</label></div>
            <div class="col-8 input-group flex-nowrap p-2">
                <input type="password" class="form-control" placeholder="新密碼" name="newpw">
            </div>
        </div>
        <div class="row">
            <div class="col-8"><label>再次輸入新密碼：</label></div>
            <div class="col-8 input-group flex-nowrap p-2">
                <input type="password" class="form-control" placeholder="再次輸入新密碼" name="newpw_check">
            </div>
        </div>
        <div class="row">
            <input type="submit" class="col me-2 btn btn-success" value="修改密碼" id="save" >
            <input type="submit" class="col me-2 btn btn-danger" value="放棄修改" id="signup" formaction="javascript:history.back()" >
        </div>
    </form>
</div>
{%endblock%}
