{% extends 'MasterPage.html'%}
{%block addition_style%}
.container.signup_form{
max-width:500px;
}
textarea{
resize:none;
}
{%endblock%}

{%block script%}
{%endblock%}

{%block content%}
<section class="py-5 text-xenter container">
    <div class="row py-lg-5">
        <center><h1>個人資料設定</h1></center>
    </div>
</section>
<form class="container signup_form" action="" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row p-1">
            <div class="col p-1">
                <label>姓氏：</label>
                <input type="text" value="{{last_name}}" name="last_name">
            </div>
            <div class="col p-1">
                <label>名字：</label>
                <input type="text" value="{{first_name}}" name="first_name">
            </div>
        </div>
        <div class="row p-1">
            <div class="col p-1">
                <label>地址：</label>
                <input type="text" value="{{address}}" name="address"><br>
            </div>
        </div>
        <div class="row p-1">
            <label>地區：</label>
            <!-- 建議未來模組化 -->
            <select class="form-select" name="region" id="region">
                <option value="TWN">臺灣(中華民國)</option>
                <option value="CHN">中國大陸(中華人民共和國)</option>
                <option value="HKG">香港</option>
                <option value="MAC">澳門</option>
                <option value="XXX" selected>其他</option>
            </select>
        </div>
        <div class="row p-1">
            <div class="col p-1">
                <label>電話：</label>
                <input type="text" value="{{telephone}}" name="telephone"><br>
            </div>
            <div class="col p-1">
                <label>電子郵件：</label>
                <input type="email" value="{{email}}" name="email"><br>
            </div>
        </div>
    </div>
    <center>
        <input type="submit" class="btn btn-success" value="儲存修改" id="save" >
        <input type="submit" class="btn btn-danger" value="放棄修改" id="signup" formaction="javascript:history.back()" >
    </center>
</form>



<script>
var region = document.getElementById("region");
for (i = 0; i < region.options.length; i++){
    if (region.options[i].value == "{{region}}"){
        region.selectedIndex = i;
    }
}
</script>
{%endblock%}