{% extends 'MasterPage.html'%}
{%block addition_style%}
.container.signup_form{
max-width:500px;
}
textarea{
resize:none;
}
{%endblock%}

{%block script%}
<script>
    function isChecked(checkbox, sub1) {
        document.getElementById(sub1).disabled = !checkbox.checked;
    }
</script>
{%endblock%}

{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <center><h1>註冊帳號</h1></center>
    </div>
</section>

<!-- 註冊表單 -->
<form class="container signup_form" method="post" action="">
    {% csrf_token %}
    <div class="container">
        <div class="row p-1">
            <div class="col p-1">
                <label>姓氏：</label>
                <input type="text" value="{{last_name}}" name="last_name">
            </div>
            <div class="col p-1">
                <label>名字：</label>
                <input type="text" value="{{first_name}}" name="first_name">
            </div>
        </div>
        <div class="row p-1">
            <div class="col p-1">
                <label>帳號：</label>
                <input type="text" value="{{username}}" name="username">
            </div>
        </div>
        <div class="row p-1">
            <div class="col p-1">
                <label>密碼：</label>
                <input type="password" value="{{password}}" name="password">
            </div>
        </div>
        <div class="row p-1">
            <div class="col p-1">
                <label>地址：</label>
                <input type="text" value="{{address}}" name="address"><br>
            </div>
        </div>
        <div class="row p-1">
            <label>地區：</label>
            <select class="form-select">
                <option value>選擇...</option>
            </select>
        </div>
        <div class="row p-1">
            <div class="col p-1">
                <label>電話：</label>
                <input type="text" value="{{telephone}}" name="telephone"><br>
            </div>
            <div class="col p-1">
                <label>電子郵件：</label>
                <input type="email" value="{{email}}" name="email"><br>
            </div>
        </div>
    </div>
    <textarea readonly="readonly" class="container" rows="5">
        {{privacy_clause}}
    </textarea>
    <center>
        <input type="checkbox" onchange="isChecked(this, 'signup')"/><label>我同意上述條款</label>
    </center>
    <center>
        <input type="submit" class="btn btn-primary" value="註冊" id="signup" disabled="disabled">
    </center>
</form>
{%endblock%}
