{% extends 'MasterPage.html'%}
{%block addition_style%}
{%endblock%}
{%block script%}
{%endblock%}
{%block content%}
<section class="py-5 text-xenter conatinar">
    <div class="row py-lg-5">
        <center><h1>完成註冊</h1></center>
    </div>
</section>
<div class="container">
    <div class="row">
        <blockquote class="blockquote text-center">
            <p class="mb-3">恭喜! 您已經完成註冊了</p>
            <p class="mb-3">你可以...</p>
            <a type="button" class="btn btn-outline-primary" href="/">回首頁</a>
            <a type="button" class="btn btn-outline-primary" href="/login_page">開始登入</a>
        </blockquote>
    </div>
</div>
{%endblock%}