<!doctype html>
<html lang="en">
    {%load static%}
    <head>
        <link rel="shortcut icon" href="{% static 'element/favicon.ico'%}" >
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous">

        <!-- jQuery cdn-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select-country@4.2.0/dist/js/bootstrap-select-country.min.js" integrity="sha256-C6aQ5z2NnpoXohcKbrWQX/J/11JEeAPbRHQ1FNowSx0=" crossorigin="anonymous"></script>
        {%block addition_script%}

        {%endblock%}

        <title>NCREElaarning</title>

        <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #mask{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
        }
        {% block addition_style%}
        {% endblock %}

        </style>

        <script>
            /* mask close control */
            $(document).ready(function(){
                $("#mask").click(function(even){
                    if($("#mask").css("display")){$("#mask").hide("slow");}
                ;})
            ;})
        </script>

        <!-- addition script -->
        {%block script%}
        {%endblock%}

    </head>
    <body>
        <!-- 導航條 -->
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark"><div class="container-fluid">
                <a class="navbar-brand" href="/">NCREElaarning</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/lesson">課程</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Language</a>
                        </li>
                    </ul>
                    <!-- 登入狀態 -->
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-info m-1" href="/logout">登出</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            功能
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/lesson_list">課程清單</a>
                            {%if request.user.groups.all.0.name == 'teacher' or request.user.is_superuser%}
                            <!-- 教師權限區 -->
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="/new_lesson">新增課程</a>
                            <a class="dropdown-item" href="/edit_lesson_list">課程編輯</a>
                            <a class="dropdown-item" href="/homework_mark">作業評分</a>
                            {%endif%}
                            <!-- 學生權限區 -->
                            {%if request.user.groups.all.0.name == 'student' or request.user.is_superuser%}
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="/join_lesson_list">訂閱課程清單</a>
                            <a class="dropdown-item" href="/hallway">開始課程</a>
                            {%endif%}
                            <!-- 帳號設定區 -->
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="/profileset">個人資料設定</a>
                            <a class="dropdown-item" href="/change_password">修改密碼</a>
                            {%if request.user.is_superuser%}
                            <!-- 後台admin -->
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="/admin">Admin系統</a>
                            {%endif%}
                        </div>
                    </div>
                    <!-- 未登入狀態 -->
                    {% else %}
                    <a class="btn btn-outline-info m-1" href="/login_page">登入/註冊</a>
                    {% endif %}
                    <!-- 搜尋列 -->
                    <form>
                        <div class="row">
                            <div class="col col-auto">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col col-auto">
                                <button class="btn btn-outline-success" type="submit">搜尋</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </nav>
        </header>

        <!-- 內文區域 -->
        <main>
            <!-- mask -->
            <div id="mask">
                {%block mask_info%}
                {%endblock%}
            </div>

            {%block content%}
            {%endblock%}
        </main>

        <!-- 底部 -->
        <footer>
            <div class="py-5 text-muted container">
                <center>Build in 2021</center>
            </div>
        </footer>
    </body>
</html>