{% extends 'MasterPage.html' %}
{% block addition_style%}
.container.account-input{
max-width:300px;
}
.container.success{
max-width:500px;
}
.input.errormark{
border-color:red;
border-width:2px;
}
{% endblock %}
{%block script%}
{%endblock%}
{%block content%}
{%load static%}
<section class="py-5 text-xenter container">
    <div class="row py-lg-5">
        <center><h1>修改密碼</h1></center>
    </div>
</section>
<!--密碼更新成功-->
{%if change_success%}
<div class="container success">
    <div class="row align-items-center">
        <div class="col my-0">
            <img class="img-responsive" src="{%static 'element/ok-1.1s-200px.svg'%}">
        </div>
        <div class="col my-0">
            <text>密碼修改成功！下次登入請用新密碼</text>
        </div>
    </div>
    <center>
        <a type="button" class="btn btn-primary" href="\">回首頁</a>
    </center>
</div>
{%else%}
<div class="container account-input">
    <!--錯誤提示-->
    {%if fail_resion%}
    <div class="alert alert-danger" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        {%if fail_resion == 'new_password_not_same'%}
            新密碼與再次輸入新密碼不同
        {%elif fail_resion == 'new_password_format_error'%}
            新密碼格式錯誤
        {%elif fail_resion == 'old_password_wrong'%}
            舊密碼錯誤
        {%endif%}
    </div>
    {%endif%}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-4"><label>舊密碼：</label></div>
            <div class="col-8 input-group flex-nowrap p-2">
                <input type="password" class="form-control
                {%if fail_resion == 'old_password_wrong'%}
                    input errormark
                {%endif %}
                " placeholder="舊密碼" name="oldpw">
            </div>
        </div>
        <div class="row">
            <div class="col-4"><label>新密碼：</label></div>
            <div class="col-8 input-group flex-nowrap p-2">
                <input type="password" class="form-control
                {%if fail_resion == 'new_password_not_same' or fail_resion == 'new_password_format_error'%}
                    input errormark
                {%endif %}
                " placeholder="新密碼" name="newpw">
            </div>
        </div>
        <div class="row">
            <div class="col-8"><label>再次輸入新密碼：</label></div>
            <div class="col-8 input-group flex-nowrap p-2">
                <input type="password" class="form-control
                {%if fail_resion == 'new_password_not_same' or fail_resion == 'new_password_format_error'%}
                    input errormark
                {%endif %}
                " placeholder="再次輸入新密碼" name="newpw_check">
            </div>
        </div>
        <div class="row">
            <input type="submit" class="col me-2 btn btn-success" value="修改密碼" id="save" >
            <input type="submit" class="col me-2 btn btn-danger" value="放棄修改" id="signup" formaction="\" >
        </div>
    </form>
</div>
{%endif%}
{%endblock%}
