{% extends "MasterPage.html"%}

{%block script%}
<script>
    $(document).ready(function(){
        /* 調閱清單 */
        $(".lesson_item").click(function(event){
            /* 載入資料並展開 */
            if($("#subject_" + event.target.value).css("display") == "none"){
                $("#subject_" + event.target.value).load("ajax_active/rollcall_query?lessonid=" + event.target.value,
                function(){$("#subject_" + event.target.value).collapse("show");});
            ;}
            /* 收回並清理資料 */
            else{
                $("#subject_" + event.target.value).collapse("hide");
                $("#subject_" + event.target.value).empty();
            ;}
        ;})
    ;})
</script>
{%endblock%}

{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5" >
        <center>
            <h1 style="width:fit-content">簽到點名調閱</h1>
        </center>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-3" id="lesson_table">
            <ul class="list list-group">
                {%for lesson in lesson_info%}
                <li class="nav-item">
                    <button class="btn btn-toggle lesson_item" value="{{lesson.lessonid}}">
                        {{lesson.name}}
                    </button>
                    <div id="subject_{{lesson.lessonid}}" class="collapse"></div>
                </li>
                {%endfor%}
            </ul>
        </div>
        <div class="col" id="rollcall_table"></div>
    </div>
</div>
{%endblock%}
