<script>
$(document).ready(function(){
    $(".call_bysub").click(function(event){
        $("#rollcall_table").load("ajax_show/call_rollcall_table?subject_id=" + event.target.value);
    ;})
    $(".call_bylesid").click(function(event){
        $("#rollcall_table").load("ajax_show/call_rollcall_table?lesson_id=" + event.target.value);
    ;})
;})

</script>

<ul class="btn-toggle-nav">
    {%for sub in subject_lesson%}
    <li>
        <button class="btn call_bysub" value="{{sub.inner_id}}">{{sub.title}}</button>
    </li>
    {%endfor%}
</ul>
