<script>
    $(document).ready(function(){
        /* 手動點名簽到 */
        $(".manual_rollcall").click(function(event){
            if($("#" + event.target.id).prop("checked")){
                $("#manual_rollcall_time_" + event.target.dataset.studentId).val(Date.now()/1000);
                $("#manual_enable_" + event.target.dataset.studentId).val("True");
            ;}
            else{
                $("#manual_rollcall_time_" + event.target.dataset.studentId).val("");
                $("#manual_enable_" + event.target.dataset.studentId).val("False");
            ;}
        ;});
        /* 送出資料 */
        $("#submit").click(function(event){
            /* 再詢問 */
            var ask = confirm("您即將送出手動簽到資料\n是否繼續?");
            if(ask){
                /**/
                var subject_id = $("#subject_id").attr("value");
                /* 設定外力取消 */
                event.preventDefault();
                /* 轉換成表單 */
                var form = new FormData($("#table_form")[0]);
                $.ajax({
                    url: "/ajax_active/submit_rollcall",
                    type: "POST",
                    data: form,
                    contentType: false, /* 傳送表單需要設置false */
                    cache: false,
                    processData: false,
                    success:function(data){
                        alert(data["msg"]);
                        /* 重載入資料 */
                        $("#rollcall_table").load("ajax_show/call_rollcall_table?subject_id=" + subject_id);
                    ;},
                    error:function(data){
                        alert(data["msg"]);
                    ;}
                })
            };
        ;});
    ;})
</script>

<div class="conatiner">
    <form id="table_form" method="post">
        {%csrf_token%}
        <input type="hidden" value="{{subject_id}}" name="subject_id" id="subject_id">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>簽到/點名日期</th>
                    <th>手動簽到</th>
                </tr>
            </thead>
            <tbody>
            {%for item in rollcall%}
                <tr>
                    <td>{{item.last_name}}{{item.first_name}}</td>
                    <td>{{item.sign_in_time}}</td>
                    <td>
                        <input type="checkbox" class="form-check-input manual_rollcall" id="manual_enable_{{item.student_id}}" name="manual_enable"
                               data-student-id="{{item.student_id}}" value="False">
                        <input type="hidden" value="{{item.student_id}}" name="student_id">
                        <input type="hidden" value="" id="manual_rollcall_time_{{item.student_id}}" name="manual_rollcall_time">
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </form>
    <button type="button" class="btn btn-success" id="submit">送出</button>
</div>


