<script>
    $(document).ready(function(){
        /* 展開附檔清單 */
        $(".attach_file_open").click(function(even){
            /* 抓取資料 */
            var query_id = even.target.value;
            $("#mask").load("ajax_show/homework_attachfile_query?hw_submit_id=" + query_id);
            /* 展開遮罩 */
            $("#mask").show("slow");
        ;})
    ;})
</script>

<form>
    {%if query_success%}
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="10%">繳交人</th>
                <th width="20%">最後繳交時間</th>
                <th>說明</th>
                <th width="10%">附檔</th>
                <th width="10%">評分</th>
            </tr>
        </thead>
        <tbody>
            {%for item in hw_submit_info%}
            <tr>
                <th>{{item.last_name}}{{item.first_name}}</th>
                <th>{{item.submit_time}}</th>
                <th>{{item.submitinfo}}</th>
                <th>
                    {%if item.attach_file_exist%}
                    <button class="btn btn-primary attach_file_open" type="button" value="{{item.inner_id}}">展開</button>
                    {%endif%}
                    <div>
                    {%for attach_file in db|hw_submit_file:item.inner_id%}
                    {%endfor%}
                    </div>
                </th>
                <th><input name="score" type="number" min="0" max="100" class="form-control"></th>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    {%else%}
    <h4>查無作業</h4>
    {%endif%}
</form>