{% extends 'MasterPage.html'%}
{%block addition_style%}
li{list-style-type: none;}

/* 按鈕特效設定 */
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus{
    background-color: #9ADBF1;
}
.btn-toggle:focus{
    background-color: #9ADBF1;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  margin-top: .5rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.btn-hwitem{
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}

{%endblock%}

{%block script%}
<script>
    $(document).ready(function(){
        /* 調閱繳交狀況 */
        $(".hwitem").click(function(even){
            var hwid = even.target.value;
            $("#score").load("ajax_show/homework_submit_query?hwid=" + hwid);
        })
    ;})
</script>
{%endblock%}

{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <center><h1>作業評比批改</h1></center>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-3" id="lesson_nav_bar" style="width:fit-cotent;height:50vh;overflow:auto;">
            <div class="d-flex flex-column p-3 bg-light" style="width:300px">
                <ul class="nav nav-pills flex-column mb-auto">
                    {%for item in lesson.all%}
                    <li class="nav-item p-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed"
                                data-bs-toggle="collapse" data-bs-target="#subject_{{item.lessonid}}" aria-expanded="false">
                            {{item.name}}
                        </button>
                        <div id="subject_{{item.lessonid}}" class="collapse">
                            <ul class="btn-toggle-nav pb-1">
                                {%for item in data|course_homework:item.lessonid%}
                                {%if item != False%}
                                <li class="p-1">
                                    <button class="btn btn-hwitem hwitem link-dark" value="{{item.inner_id}}">{{item.lessontable_id.ch}}-{{item.lessontable_id.sb}} {{item.lessontable_id.title}}</button>
                                </li>
                                {%else%}
                                <li>
                                    <a class="hwitem link-dark">無作業</a>
                                </li>
                                {%endif%}
                                {%endfor%}
                            </ul>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="col" id="score"></div>
    </div>
</div>
{%endblock%}