{%extends "MasterPage.html"%}
{%load static%}

{%block script%}
<script>
    $(document).ready(function(){
        /*展開或收縮*/
        $(".submit-btn").click(function(even){
            var target_id = even.target.value;
            if($("#"+target_id).css("display")=="none"){
                $("#" + target_id).show("slow");
            ;}
            else{
                $("#" + target_id).hide("slow");
            ;}
        ;})
        $(".add-file-btn").click(function(even){
            var target_id = "#" + even.target.value;
            var newfile_key = Math.floor(Math.random()*1001);
            var newfile_id = "newfile_row_" + newfile_key;
            var newfile_input_id = "newfile_" + newfile_key;
            var delete_order = "delete_file('" + newfile_id + "')";

            var append_element = "\
                <div class='row p-1' id='"+newfile_id+"'>\
                    <div class='col-6'>\
                        <input type='file' class='form-control' name='"+ newfile_input_id +"'>\
                    </div>\
                    <div class='col'>\
                        <button type='button' class='btn btn-danger' onclick="+ delete_order +">刪除</button>\
                    </div>\
                </div>";

            $(target_id).append(append_element);
        ;})
        $(".save-btn").click(function(even){
            /* 繼續傳遞 */
            even.preventDefault();
            var form_id = even.target.form.id;
            var form = $("#" + form_id)[0];
            var formdata = new FormData(form);
            $.ajax({
                url:"/ajax_active/homework_submit_edit_save",
                type: "POST",
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,
                success : function(data)
                {
                    alert(data["msg"]);
                },
                error: function(data)
                {
                    alert(data["msg"]);
                }
            })

        ;})
    ;})

    /*刪除檔案*/
    function delete_file(eleid){
        var tab = document.getElementById(eleid);
        tab.remove();
    ;}

</script>
{%endblock%}

{%block addition_style%}
.mark{
    max-height:30px;
    width:auto;
}
.btn-primary.submit-btn{
    background-color:#20B2AA;
    border-color:#20B2AA;
}
.btn-primary.download-btn{
    background-color:#F6BB43;
    border-color:#F6BB43;
}
.btn-primary.add-file-btn{
    background-color:#8CC051;
    border-color:#8CC051;
}

{%endblock%}

{%block content%}
<section class="text-center container ">
    <div class="row py-lg-5">
        <center><h1>作業清單</h1></center>
    </div>
</section>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>章節</th>
                <th>名稱</th>
                <th>說明</th>
                <th>繳交開始時間</th>
                <th>截止時間</th>
                <th>允許遲交?</th>
                <th>繳交狀況</th>
                <th>附檔下載</th>
                <th>繳交作業</th>
            </tr>
        </thead>
        {%for item in homework_data.all%}
            <tr id="hw_info_{{item.inner_id}}">
                <td>{{item.lessontable_id.ch}}-{{item.lessontable_id.sb}} {{item.lessontable_id.title}}</td>
                <td>{{item.title}}</td>
                <td>{{item.homeworkinfo}}</td>
                <td>{{item.start_time}}</td>
                <td>{{item.finish_time}}</td>
                {%if item.turn_it_available%}
                <td><img class="img-responsive mark" src="{% static 'element/check-mark.png'%}"></td>
                {%else%}
                <td><img class="img-responsive mark" src="{% static 'element/x-mark.png'%}"></td>
                {%endif%}
                {%if request.user.id|hw_hand_in:item.inner_id%}
                <td><img class="img-responsive mark" src="{% static 'element/check-mark.png'%}"></td>
                {%else%}
                <td><img class="img-responsive mark" src="{% static 'element/x-mark.png'%}"></td>
                {%endif%}
                {%if item.attach_file_exist%}
                <td>
                    <button class="btn btn btn-primary download-btn" data-bs-toggle="dropdown">下載</button>
                    <div class="dropdown-menu">
                    {%for attach_file in db|hw_attach_file:item.inner_id%}
                        <a class="dropdown-item" href="{{attach_file.file.url}}">
                            {{attach_file.filename_without_extension}}
                        </a>
                    {%endfor%}
                    </div>
                </td>
                {%else%}
                <td></td>
                {%endif%}
                <td><button type="button" class="btn btn-primary submit-btn" value="hw_submit_{{item.inner_id}}">開始繳交</button></td>
            </tr>
            <tr id="hw_submit_{{item.inner_id}}" style="display:none">
                {%for submit in request.user.id|hw_submit_info:item.inner_id%}
                <td colspan="100%">
                    <form method="post" id="homework_upload_form_{{item.inner_id}}">
                        {%csrf_token%}
                        <div id="background_value_{{list.inner_id}}">
                            <input type="hidden" value="{{lessonid}}" name="lessonid" id="lessonid_{{lessonid}}">
                            <input type="hidden" value="{{item.lessontable_id_id}}" name="lesson_table_id" id="lesson_table_id_{{item.lessontable_id_id}}">
                            <input type="hidden" value="{{item.inner_id}}" name="homeworkid" id="homeworkid_{{item.inner_id}}">
                        </div>
                        <div class="row p-3">
                            <label class="p-2">繳交說明：</label>
                            <textarea name="textraea" rows="5" style="resize:none">{{submit.submitinfo}}</textarea>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <button type="button" class="btn btn-primary add-file-btn" value="file_{{item.inner_id}}_row">增加檔案</button>
                            </div>
                        </div>
                        <div class="row" id="file_{{item.inner_id}}_row"></div>
                        <div class="row p-3">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-primary save-btn">儲存</button>
                            </div>
                        </div>
                    </form>
                </td>
                {%endfor%}
            </tr>
        {%endfor%}
    </table>
</div>




{%endblock%}