{%extends "MasterPage.html"%}

{%block script%}
<script>
    $(document).ready(function(){
        /* 線上參加動作 */
        $("#online").click(function(){
            $.get("/ajax_active/join_lesson_order",{lessonid:{{lessonid}},situation:'online'}, function(ret){
                $("#online").addClass("disabled");
                $("#online").attr("aria-disabled='true'");
                $("#quit").removeClass("disabled");
                $("#quit").removeAttr("aria-disabled='true'");
                var element = "<text>";
                element = element.concat(ret.msg, "</text>");
                $("#result").html(element);
            })
        });
        /* 實體參加動作 */
        $("#entity").click(function(){
            $.get("/ajax_active/join_lesson_order",{lessonid:{{lessonid}},situation:'online'}, function(ret){
                $("#entity").addClass("disabled");
                $("#entity").attr("aria-disabled='true'");
                $("#quit").removeClass("disabled");
                $("#quit").removeAttr("aria-disabled='true'");
                var element = "<text>";
                element = element.concat(ret.msg, "</text>");
                $("#result").html(element);
            })
        });
        /* 退出參加動作 */
        $("#quit").click(function(){
            $.get("/ajax_active/quit_lesson",{lessonid:{{lessonid}}}, function(ret){
                if(ret.situation == 'online' | ret.situation == 'both'){
                    $("#online").removeClass("disabled");
                    $("#online").removeAttr("aria-disabled='true'");
                }
                else if(ret.situation == 'entity' | ret.situation == 'both'){
                    $("#entity").removeClass("disabled");
                    $("#entity").removeAttr("aria-disabled='true'");
                }
                $("#quit").addClass("disabled");
                $("#quit").attr("aria-disabled='true'");
                var element = "<text>";
                element = element.concat(ret.msg, "</text>");
                $("#result").html(element);
            })
        });
    });
</script>
{%endblock%}


{%block content%}
<div class="container text-center">
    <div class="row p-3">
        <text>參加或退出選項：</text>
    </div>
    <div class="btn-group">
        {%if in_class%}
            <a id="online" class="btn btn-primary disabled" aria-disabled="true">參加線上課程</a>
            <a id="entity" class="btn btn-primary disabled" aria-disabled="true">參加實體課程</a>
            <a id="quit" class="btn btn-danger">離開課程</a>
        {%else%}
            <!--實體課程-->
            {%if situation == 'online' or situation == 'both'%}
            <a id="online" class="btn btn-primary">參加線上課程</a>
            {%else%}
            <a id="online"class="btn btn-primary disabled" aria-disabled="true">參加線上課程</a>
            {%endif%}
            <!--線上課程-->
            {%if situation == 'entity' or situation == 'both'%}
            <a id="entity" class="btn btn-primary">參加實體課程</a>
            {%else%}
            <a id="entity" class="btn btn-primary disabled" aria-disabled="true">參加實體課程</a>
            {%endif%}
            <a id="quit" class="btn btn-danger disabled" aria-disabled="true">離開課程</a>
        {%endif%}
    </div>
    <div id="result" class="row p-3">
        <text></text>
    </div>
</div>
{%endblock%}