{%extends 'MasterPage.html'%}

{% block script%}
<script>
    $(document).ready(function(){
    ;})
</script>
{% endblock %}

{%block content%}
<section class="text-center container">
    <div class="row py-lg-5">
        <center><h1>訂閱參加課程清單</h1></center>
    </div>
</section>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>課程名</th>
                <th>課程種類</th>
                <th>開課人</th>
                <th>上課時間</th>
                <th>結束時間</th>
                <th>上課模式</th>
                <th>地點</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for list in result.iloc %}
            <tr>
                <th>{{list.name}}</th>
                <th>{{list.lessontype}}</th>
                <th>{{list.last_name}}{{list.first_name}}</th>
                <th>{{list.start_time}}</th>
                <th>{{list.finish_time}}</th>
                <th>{{list.situation}}</th>
                <th>{{list.address}}</th>
                <th>
                    <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">操作</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/class_room?lessonid={{list.lessonid}}">上課</a>
                            <a class="dropdown-item" href="/handout_homework?lessonid={{list.lessonid}}">繳交作業</a>
                            <a class="dropdown-item" href="mailto:{{list.email}}">與開課人聯絡</a>
                            <a class="dropdown-item" href="/joinorquit_lesson?lessonid={{list.lessonid}}">參加或退出選項</a>
                        </div>
                </th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}