{% extends 'MasterPage.html'%}
{%block addition_script%}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" integrity="sha256-TAzGN4WNZQPLqSYvi+dXQMKehTYFoVOnveRqbi42frA=" crossorigin="anonymous"></script>
{%endblock%}

{%block addition_style%}
.container.main_form{
max-width:700px;
}
textarea{
resize:none;
}

td > input {
  width:100%;
}

#preview{
    max-width:310px;
    max-height:174px;
}
{%endblock%}

{%block script%}
<script>
    var count = 0;
    var lesson_count = 1;
    function del(eleid){
        var tab = document.getElementById(eleid);
        tab.remove();
        lesson_count -= 1;

        /* 輸入隱藏變數 */
        var hidden = document.getElementById('lesson_count');
        hidden.value = lesson_count.toString();
    };

    $(function(){
        $('form').validate({
            submitHandler:
            function(form){
                var checker = false;
                var annouce_time = document.getElementById("annouce_time").value;
                var start_time = document.getElementById("start_time").value;
                var finish_time = document.getElementById("finish_time").value;
                var lesson_name = document.getElementById("lessoname").value;

                if (lesson_name == ""){
                    alert("課程名稱不可為空白");
                    return false;
                }
                else if(annouce_time == ""){
                    alert("公告日不可為空白");
                    return false;
                }
                else if(start_time == ""){
                    alert("上課日不可為空白");
                    return false;
                }
                else if(finish_time == ""){
                    alert("結束日不可為空白");
                    return false;
                }
                else{
                    checker = true;
                };

                /* 檢查日期合理性 */
                const a_time = new Date(annouce_time);
                const s_time = new Date(start_time);
                const f_time = new Date(finish_time);

                if(a_time>s_time){
                    alert("公告日不可晚於上課日");
                    return false;
                }
                else if(a_time>f_time){
                    alert("公告日不可早於結束日");
                    return false;
                }
                else if(s_time>f_time){
                    alert("上課日不可晚於結束日");
                    return false;
                }
                else{
                    checker = true;
                };


                if(checker == true){
                    return true;
                }
                else{
                    return false;
                };
            }
        });

        $("#addrow").click(function(){
            /* 計數器 */
            count += 1;
            lesson_count += 1;
            var item = count.toString();

            /* 刪除指令建立 */
            var del_order= "del('L" + item + "')";

            var row = $("\
            <tr id='L"+item+"'>\
            <td><input type='number' name='ch"+item+"' min='0'></td>\
            <td><input type='number' name='sb"+item+"' min='0'></td>\
            <td><input type='text' name='title"+item+"'></td>\
            <td><button type='button' class='btn btn-danger' onclick="+ del_order +">刪除</button></td>\
            </tr>\
            ");

            $("#lesson_table > tbody").append(row);

            /* 輸入隱藏變數 */
            var hidden = document.getElementById('lesson_count');
            hidden.value = lesson_count.toString();
            var hidden = document.getElementById('lesson_id_count');
            hidden.value = count.toString();
        })

    });

    var preview_img = function(event){
        var output = document.getElementById("preview");
        if (event.target.files[0]){
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function(){
                URL.revokeObjectURL(output.src)
            }
        }
        else{
            output.src = "";
        };
    }
</script>
{%endblock%}

{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <center><h1>建立課程</h1></center>
    </div>
</section>

<!-- 建立表單 -->
<form action="" class="container main_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="background_value">
        <input type="hidden" value="1" name="lesson_count" id="lesson_count">
        <input type="hidden" value="0" name="lesson_id_count" id="lesson_id_count">
    </div>
    <div class="container">
        <div class="row p-1">
            <div class="col">
                <label>課程名稱：</label>
                <input type="text" class="form-control" name="lessoname" id="lessoname">
            </div>
            <div class="col">
                <center>
                    <label>課程封面：</label>
                    <img id="preview" class="img-fluid" src="">
                    <input name="cover" type="file" class="form-control" accept="image/*" onchange="preview_img(event)">
                </center>
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label>授課模式：</label>
                    <div class="form-check">
                        <input class="form-check-input mt-0" type="radio" value="online" name="lesson_mode" checked required>
                        <label>線上課程</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input mt-0" type="radio" value="entity" name="lesson_mode" required>
                        <label>實體課程</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input mt-0" type="radio" value="both" name="lesson_mode" required>
                        <label>線上、實體並行</label>
                    </div>
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label>參加身分審核：</label>
                <div class="form-check">
                    <input class="form-check-input mt-0" type="radio" value="False" name="statue" checked required>
                    <label>自由開放</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mt-0" type="radio" value="True" name="statue" required>
                    <label>審核</label>
                </div>
            </div>
            <div class="col">
                <label>授課證書與否：</label>
                <div class="form-check">
                    <input class="form-check-input mt-0" type="radio" value="True" name="sing_licnese" checked required>
                    <label>是</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input mt-0" type="radio" value="False" name="sing_licnese" required>
                    <label>否</label>
                </div>
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label>公告日：</label>
                <input type="date" class="form-control" name="annouce_time" id="annouce_time"
                       value="{{today.year|stringformat:'04d'}}-{{today.month|stringformat:'02d'}}-{{today.day|stringformat:'02d'}}"
                       min="{{today.year|stringformat:'04d'}}-{{today.month|stringformat:'02d'}}-{{today.day|stringformat:'02d'}}">
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label>上課日：</label>
                <input type="date" class="form-control" name="start_time" id="start_time"
                       value="{{today.year|stringformat:'04d'}}-{{today.month|stringformat:'02d'}}-{{today.day|stringformat:'02d'}}"
                       min="{{today.year|stringformat:'04d'}}-{{today.month|stringformat:'02d'}}-{{today.day|stringformat:'02d'}}">
            </div>
            <div class="col">
                <label>結束日：</label>
                <input type="date" class="form-control" name="finish_time" id="finish_time"
                       min="{{today.year|stringformat:'04d'}}-{{today.month|stringformat:'02d'}}-{{today.day|stringformat:'02d'}}">
            </div>
        </div>
        <div class="row p-1">
            <label>說明：</label>
            <textarea class="container" rows="5" name="lessoninfo"></textarea>
        </div>
        <div class="row p-1">
            <div class="col">
            <label>課綱：</label>
                <table class="table table-hover" id="lesson_table">
                    <thead>
                        <tr>
                            <th width="12%">章</th>
                            <th width="12%">節</th>
                            <th>標題</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody id="class_list">
                        <tr id='L0'>
                            <td><input type="number" name="ch0" min="0"></td>
                            <td><input type="number" name="sb0" min="0"></td>
                            <td><input type="text" name="title0"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <center>
                <button id="addrow" type="button" class="btn btn-primary">新增章節</button>
            </center>
        </div>
        <center><input type="submit" class="btn btn-primary" value="送出" id="submit"></center>
    </div>
</form>
{%endblock%}