{% extends 'MasterPage.html'%}
{%load static%}

{% block addition_style%}
.cover-image{
    max-height:200px;
    max-width:300px;
}
{% endblock %}


{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <center><h1>歡迎!</h1></center>
    </div>
</section>

<!-- 課程資訊 -->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for list in newest_lesson_info.iloc %}
            <div class="col">
                <div class="card shadow-sm">
                    <!-- 確認有無封面 -->
                    {%if list.key_id < -1024 %}
                    <div class="row">
                        <center>
                            <img class="img-responsive cover-image" src="{% static 'element/empty_lesson_image.jpg'%}">
                        </center>
                    </div>
                    {%else%}
                    <div class="row">
                        <center>
                            <img class="img-responsive cover-image" src="fileinfo/{{list.image}}">
                        </center>
                    </div>
                    {%endif%}
                    <!--卡片內文-->
                    <div class="card-body">
                        {%if list.lessoninfo %}
                        <h5 class="card-title">{{list.name}}</h5>
                        <p class="card-text text-truncate">{{list.lessoninfo}}</p>
                        {%else%}
                        <h5 class="card-title">{{list.name}}</h5>
                        <p class="card-text">(無課程敘述)</p>
                        {%endif%}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="/lesson_info?lessonid={{list.lessonid}}">View</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="/joinorquit_lesson?lessonid={{list.lessonid}}">Join</a>
                            </div>
                            <small class="text-muted">開放上課日：{{list.start_time}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}