{% extends 'MasterPage.html'%}

{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <center><h1>課程資訊</h1></center>
    </div>
</section>
<div class="container bd-placeholder-img">
    {% for list in result_table.iloc %}
    <div class="row bg-light py-3">
        <div class="col-md-4">
            <svg class="card-img-top" width="100%" height="225"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMind slice" focusable="false">
            </svg>
        </div>
        <div class="col-md-8 align-self-center text-center">
            <text>{{list.lessoninfo}}</text>
            <p style="text-align:right">{{list.start_time}}</p>
        </div>
    </div>
    {% endfor %}
    <p style="text-align:right">
        <a href="/lesson_more?more=TURE">更多...</a>
    </p>
</div>
{%endblock%}