{% extends "MasterPage.html" %}

{%block addition_script%}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" integrity="sha256-TAzGN4WNZQPLqSYvi+dXQMKehTYFoVOnveRqbi42frA=" crossorigin="anonymous"></script>
{%endblock%}

{%block script%}
<script>
    $(document).ready(function(){
        /* 基本資料區 */
        var row_search_value = window.location.search.substring(1);

        /* 預設載入 */
        $("#form_area").load("ajax_show/lesson_edit_page?page=basic_info&" + row_search_value);

        /* 標示變化 */
        function mark_change(target){
            /* 清理屬性 */
            $(".item").removeClass("active");
            $(".item").addClass("link-dark");
            /* 標示 */
            $(target).removeClass("link-dark");
            $(target).addClass("active");
        ;}

        /*基本資料*/
        $("#basic_info").click(function(){
            mark_change("#basic_info");
            $("#form_area").load("ajax_show/lesson_edit_page?page=basic_info&" + row_search_value);
        })
        /*課綱*/
        $("#class_list").click(function(){
            mark_change("#class_list");
            $("#form_area").load("ajax_show/lesson_edit_page?page=class_list&" + row_search_value);
        })
        /*學生清單*/
        $("#student_list").click(function(){
            mark_change("#student_list");
            $("#form_area").load("ajax_show/lesson_edit_page?page=student_list&" + row_search_value);
        })
        /*作業清單*/
        $("#homework").click(function(){
            mark_change("#homework");
            $("#form_area").load("ajax_show/lesson_edit_page?page=homework&" + row_search_value);
        })
    ;})
</script>
{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
    <div class="d-flex flex-column p-3 bg-light" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a id="basic_info" href="#" class="nav-link item active">
                    基本資料
                </a>
            </li>
            <li>
                <a id="class_list" href="#" class="nav-link item link-dark">
                    課綱
                </a>
            </li>
            <li>
                <a id="student_list" href="#" class="nav-link item link-dark">
                    學生清單
                </a>
            </li>
            <li>
                <a id="homework" href="#" class="nav-link item link-dark">
                    習題管理
                </a>
            </li>
        </ul>
    </div>
    <div id="form_area" class="col">
    </div>
    </div>
</div>
{%endblock%}