{% extends 'MasterPage.html'%}
{%load static%}

{%block addition_style%}
.mark{
    max-height:30px;
    width:auto;
}
{%endblock%}

{%block script%}
<script>
    $(document).ready(function(){
        $(".delete_lesson").click(function(event){
            var lessonid = event.target.value;
            var lesson_name = document.getElementById(lessonid.concat("_name"));
            var msg = "您準備要刪除課程：".concat(lesson_name.innerText);
            var decide = confirm(msg);
            if (decide){
                $.get("/ajax_active/delete_lesson", {lessonid:lessonid}, function(ret){
                    if (ret.result){
                        var element_name = '#%lessinid%_tr'.replace("%lessinid%",lessonid);
                        $(element_name).remove();
                        alert("已刪除");
                    }
                    else{
                        alert("刪除失敗，請聯絡系統管理員");
                    }
                })
            }
        })
    ;})
</script>
{%endblock%}




{%block content%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <center><h1>課程編輯</h1></center>
    </div>
</section>

<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">課程名稱</th>
                <th scope="col">種類</th>
                <th scope="col">上課方式</th>
                <th scope="col">上課地點</th>
                <th scope="col">授課證明</th>
                <th scope="col">公告時間</th>
                <th scope="col">開始時間</th>
                <th scope="col">結束時間</th>
                <th scope="col">動作</th>
            </tr>
        </thead>
        <tbody>
        {%for list in class_table.iloc%}
            <tr id="{{list.lessonid}}_tr">
                <td id="{{list.lessonid}}_name">{{list.name}}</td>
                <td>{{list.lessontype}}</td>
                <td>{{list.situation}}</td>
                <td>{{list.address}}</td>
                {%if list.certificate%}
                <td><img class="img-responsive mark" src="{% static 'element/check-mark.png'%}"></td>
                {%else%}
                <td><img class="img-responsive mark" src="{% static 'element/x-mark.png'%}"></td>
                {%endif%}
                <td>{{list.annouce_time}}</td>
                <td>{{list.start_time}}</td>
                <td>{{list.finish_time}}</td>
                <td>
                    <a class="btn btn-primary" href="edit_lesson?lessonid={{list.lessonid}}">詳細操作</a>
                    <button id="{{list.lessonid}}_dlt_button" class="btn btn-danger delete_lesson" value="{{list.lessonid}}">刪除</button>
                </td>

            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}